{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

 

<div class="container my-4">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="https://source.unsplash.com/1600x600/?python" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
            </div>
            <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x600/?coder" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
            </div>
            <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x600/?Ml" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="container bg-light my-5 mb-5">
<h2 class="text-center py-3 ">About us</h2>
<div class="row my-3 py-3">
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./static/images/ak.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Akshay Dhongade</h5>
                <p class="card-text">
                    <p>-Python Developer </p>
                    <p>-Web Developer </p>
                </p>
                
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <P>hello i am Akshay Dhongade </P><br>
        <p>i like coding i had worked on html,css,javascript,java,php,python</p>
        <p>its a very enthusiastic field toward somthing great productivity</p>
        <p>i like problem solving  skills</p>
        <p>but apart from that mostly i like python, bacause of its great libraries also used in data analysis which is very helpful for taking business decisions </p>
        <p>also used in data science,machine learning, deep learning, artificial intellilence</p>
        
        
        
        

     
    </div>
</div>

<div class="row my-3 py-3">
    <table class="table shadow ">
        <tr>
            <th>SR.NO</th>
            <th>Education</th>
            <th>University</th>
            <th>Passout</th>
            <th>Percentage</th>
            <th></th>
        </tr>
        <tr>
            <td>1.</td>
            <td>MCA -Pursuing</td>
            <td>SPPU</td>
            <td>2022</td>
            <td>-</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>BCA</td>
            <td>SPPU</td>
            <td>2018</td>
            <td>60</td>
        </tr>

        <tr>
            <td>3.</td>
            <td>HSC</td>
            <td>Maharashtra State Board</td>
            <td>2015</td>
            <td>66.15</td>
        </tr>

        <tr>
            <td>4.</td>
            <td>SSC</td>
            <td>Maharashtra State Board</td>
            <td>2013</td>
            <td>62.80</td>
        </tr>
        
    </table>
</div>

<div class="text-center">
   <a href="./static/certifiacte_resume/Akshay_ Resume.pdf"> <button type="button" class="btn btn-primary">Download CV</button></a>
</div>
</div>




<div class="container-fluid bg-warning ">
<h2 class="text-center  text-black py-3">Skills</h2>
<hr>
<br>
<div class="container">
    <div class="row my-3 mx-3 py-3 px-3">
        <div class="col-md-4">
           <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./static/images/python.gif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">PYTHON</h5>
                    <p class="card-text"></p>
                    
                </div>
            </div> 
        </div>
        
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./static/images/django.gif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">DJANGO</h5>
                    <p class="card-text"></p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./static/images/php.gif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Php</h5>
                    <p class="card-text"></p>
                    
                </div>
            </div>
        </div>

    </div>

    <div class="row my-3 mx-3 py-3 px-3">    
        <div class="col-md-4">
           <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./static/images/sql.gif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">SQL</h5>
                    <p class="card-text"></p>
                    
                </div>
            </div> 
        </div>
        
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./static/images/html.gif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">HTML</h5>
                    <p class="card-text"></p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./static/images/css.gif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CSS</h5>
                    <p class="card-text"></p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3 mx-3 py-3 px-3">
        <div class="col-md-4">
           <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./static/images/js.gif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">JAVASCRIPT</h5>
                    <p class="card-text"></p>   
                </div>
            </div> 
        </div>

        <div class="col-md-4">
           <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./static/images/photoshop.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Photoshop</h5>
                    <p class="card-text"></p>   
                </div>
            </div> 
        </div>

        <div class="col-md-4">
           <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./static/images/canva.gif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Canva</h5>
                    <p class="card-text"></p>   
                </div>
            </div> 
        </div>
        
    </div>
</div>
</div>
  
  
{% endblock body %}

